<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <mat-card class="card">
        <mat-card-title-group>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>First Name Last Name</mat-card-subtitle>
            <img class="circle" mat-card-md-image src="/content/img/default_user.png" />
        </mat-card-title-group>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span>Phone: </span><span>999-999-9999</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Cell: </span><span>888-888-8888</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>City: </span><span>Los Angeles, CA</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Email: </span><span>test@crexi.com</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Date of Birth: </span><span>Jan 1st, 1966</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</crx-page>
