<crx-page>
    <div class="header">
        <crx-header pageTitle="Profile Details"></crx-header>
    </div>
    <mat-card *ngIf="user" class="card">
        <mat-card-title-group>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-subtitle>{{ user.name.first }} {{ user.name.last }}</mat-card-subtitle>
            <img class="circle" mat-card-md-image [src]="user.picture.medium" />
        </mat-card-title-group>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <span>Phone: </span><span>{{ user.phone }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Cell: </span><span>{{ user.cell }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>City: </span><span>{{ user.location.city }}, {{ user.location.state }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Email: </span><span>{{ user.email }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <span>Date of Birth: </span><span>{{ user.dob.date }}</span>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</crx-page>