h1 {
    text-align: center;
}

.go-to-list-btn {
    position: fixed;
    top: 40vh;
    left: 45vw;
    border: 1px;
    padding: 1em;
    font-size: 1em;
    border-radius: .5em;
    background: #3f51b5;
    color: white;

}
